# MANDATORY ENVIRONMENT
PORT=5000
DATABASE_URL=postgresql://postgres_admin:secure_password_123@localhost:5432/ticket_booking_db

JWT_SECRET=your_secret_key
JWT_EXPIRES_IN=7d

REDIS_URL=redis://localhost:6379

# OPTIONAL ENVIRONMENT
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=your_ggle_secret
